@import "~@opuscapita/oc-cm-common-styles/styles/colors";
@import "~@opuscapita/oc-cm-common-styles/styles/variables";

$icon-side-length: 1.6rem;
$checkbox-cap: 0.5rem;

.oc-checkbox {
  height: $icon-side-length+2*$checkbox-cap;
  
  a {
    outline: none !important;
    display: inline-block;
    height: 100%;
    width: $icon-side-length+2*$checkbox-cap;
    line-height: 100%;
    margin-right: $checkbox-cap;
    
    svg {
      background-color: $oc-color-white;
      height: $icon-side-length;
      width: $icon-side-length;
      margin: $checkbox-cap;
      color: $oc-color-white;
      cursor: pointer;
      box-shadow: 0 0 0 0.1rem $oc-color-primary-azure;
    }
  }
  a:focus {
    box-shadow: inset 0 0 0 0.3rem $oc-color-primary-yellow;
  }
  &.checked svg {
    color: $oc-color-primary-azure;
  }
  &.disabled {
    color: $oc-color-text-disabled;
    svg {
      color: $oc-color-text-disabled;
      box-shadow: 0 0 0 0.1rem $oc-color-text-disabled;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
